branches:
  only:
  - master
sudo: false
language: python
cache:
  directories:
  - "$HOME/.cache/pip"
matrix:
  include:
    - env: TOXENV=py27
    - env: TOXENV=pypy
install:
- pip install -U pip setuptools wheel
- pip install tox codecov
- |
  if [ "${TOXENV}" == "pypy" ]; then
    git clone --depth 1 https://github.com/yyuu/pyenv.git ~/.pyenv
    PYENV_ROOT="$HOME/.pyenv"
    PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init -)"
    pyenv install pypy2.7-5.8.0
    pyenv global pypy2.7-5.8.0
  fi
script:
- tox
after_success:
- codecov
notifications:
  email: false
  slack:
    secure: lqGRJQkQSBw9zX/AXqaPXVShw00TNncVvMAAj6q7jsLn17aCPmL5N0wmKWO6Oibdmu2EuehosCCN5JQ00tQ2zfi9sCGFtA5AC7Uxl2bi9rgBaW/HWSTc2q0ghi4v0MMCuxadOWOgjhRMKYNg37tIAuUYvJeB3kG8NFZgHKsxg0I=
